*.sh            text eol=lf
*.ac            text eol=lf
*.am            text eol=lf
*.in            text eol=lf
Makefile        text eol=lf
configure       text eol=lf

# Xcode
*.pbxproj       text eol=crlf
.* icns         binary

# Visual Studio
*.csproj        text eol=crlf
*.vbproj        text eol=crlf
*.fsproj        text eol=crlf
*.dbproj        text eol=crlf
*.vcproj        text eol=crlf
*.vcxproj       text eol=crlf
*.filter        text eol=crlf
*.vsprops       text eol=crlf
*.sln           text eol=crlf
*.dsw           text eol=crlf
*.dsp           text eol=crlf

# DOS/Win
*.cmd           text eol=crlf
*.bat           text eol=crlf

# Web
*.php           text eol=lf
*.js            text eol=lf
*.css           text eol=lf
*.md            text eol=lf
*.txt           text eol=lf
*.htm           text eol=lf
*.html          text eol=lf
